streamlit
bs4
requests
selenium
selenium - stealth
chromadb
langchain
langchain - core
langchain - community
langchain_groq
langchain - text - splitters
langchain_huggingface
pydantic
huggingface - hub
sentence - transformers