streamlit 
bs4 
requests 
selenium 
selenium-stealth 
chromadb 
langchain==0.1.20
langchain-core==0.1.*
langchain-community
langchain_groq 
langchain-text-splitters==0.1.*
pydantic 
huggingface-hub 
sentence-transformers
    
