beautifulsoup4==4.14.2
bs4==0.0.2
chromadb==1.2.1
groq==0.32.0
huggingface-hub==0.36.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-groq==0.1.5
langchain-huggingface==0.0.3
langchain-text-splitters==0.0.2
numpy==1.26.4
openai==2.3.0
pandas==2.3.3
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
requests==2.32.5
selenium==4.37.0
selenium-stealth==1.0.6
sentence-transformers==5.1.2
streamlit==1.50.0
torch==2.8.0
